:root{
    --first-color:#626262;
    --second-color: #7D7D7D;
    --decorative-color: #B4AD9E;
    --hover-color: #03A9F4;
}
ul{
    list-style: none;
    padding-inline-start:0px;
}
a{
    text-decoration: none;
}
.container{
    max-width: 905px;
    margin: 0 auto;
}
.topic{
    font-family: Playfair Display;
    font-size: 14px;
    font-weight: 400px;
    display: flex;
    justify-content: center;
    gap: 100px;
    margin-top: 75px;
    margin-bottom: 95px;
}
.topic-el{
    color: var(--second-color);
}
.topic-el:hover{
    color: var(--hover-color);
}
.card-ul{
    display: flex;
    flex-wrap: wrap;
    row-gap: 130px;
    column-gap: 63px;  
}
.container-card{
    height: 550px;
    width: 420px ;
}
.content-topic{
    font-family: Ubuntu;
    font-weight: 300;
    font-size: 14px;
    color: var(--decorative-color);
    padding-top: 65px;
}
.article{
    font-family: Playfair Display; 
    font-weight: 400;
    font-size: 30px;
    color: var(--first-color);
}
.lorem{
    font-family: Playfair Display; 
    font-weight: 400;
    font-size: 14px;
    color: var(--first-color);
}
.main-button{
    font-family: Playfair Display; 
    font-weight: 400;
    font-size: 14px;
    color: var(--first-color);
    background-color: #FFFFFF;
    border: 1px solid var(--first-color);
    padding: 30px 50px;
    display: block;
    margin: 0 auto;
    margin-top: 115px;
    margin-bottom:70px ;
}