@import"./vars";
@import"./utilts/placeholder";
@import"./utilts/mixin";
@import "./components/header";
@import "./components/main";
@import"./components/footer";

ul{
    list-style: none;
    padding-inline-start:0px;
 }
 a{
    text-decoration: none;
 }
.container{
   max-width:1000px;
   margin: 0 auto;
}