@mixin btn-styles($font-family:"Montserrat",$font-size: 14px, $font-weight: 700, $width: 280px, $height: 40px, $border-radius: 30px){
    font-family:$font-family;
    font-size:$font-size;
    font-weight:$font-weight;
    width:$width;
    height:$height;
    border-radius:$border-radius;
}