:root{
    --dark-text:#252B42;
    --decorative-color:#FA4A0C;
    --white-text:#FFFFFF;
    --grey-text:#737373;
}
.container{
    width: 1440px;
    margin: 0 auto;
}
a{
    text-decoration: none;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.header-items{
    display: flex;
    justify-content: space-between;
    gap: 465px;
    margin-top: 50px;
    margin-bottom: 40px;
}
.navigation-ul{
    display: flex;
    align-items: center;
    gap: 115px;
    font-family: "Montserrat";
    font-weight: 600;
    font-size: 16px ;
    color: var(--dark-text);
    margin-right: 165px;
    width: 580px;
}
.nav-items:hover{
    color: var(--decorative-color);
    cursor: pointer;
}
.article{ 
    height: 619px;
    background-image: url(./img/background.png);
    width: 1440px;
    text-align: center;
    padding-top: 70px;
    color: var(--white-text);
}
.top-p{
    font-family: "Montserrat";
    font-weight: 700;
    font-size: 24px;
    margin-bottom: 0px;
}
.article h1{
    font-family: "Poppins";
    font-size: 58px;
    font-weight: 700;
    line-height: 75px;
    margin: 0;
}
.down-p{
    font-family: "Montserrat";
    font-size: 24px;
    font-weight: 500;
}
.butt-top-el{ 
    font-family: "Montserrat";
    font-size: 24px;
    font-weight: 700;
    color: var(--white-text);
    background-color: inherit;
    border:1px solid var(--white-text);
    border-radius: 30px;
    width: 236px;
    height: 68px; 
    margin-left: 70px;
    margin-top: 70px;
    margin-bottom: 300px;
}
.butt-top-el:hover{
    background-color: var(--decorative-color);
    border: none;
}

.main-content{
    margin-top: 54px;
}
.content-article{
    font-family: "Poppins";
    font-size: 44px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 74px;
}
.content-item{
    display: flex;
    justify-content: baseline;
}
.text-content{
    font-family: "Montserrat";
    align-self: center;
}
.decorative-p{
    font-size: 24px;
    font-weight: 700;
    color: var(--decorative-color);
    line-height: 20px;
}
.content-h2{
    font-size: 40px;
    font-weight: 700;
    color: var(--dark-text);
}
.content-p{
    font-size: 24px;
    font-weight: 500;
    color: var(--grey-text);
    line-height: 40px;
}
.content-item:nth-child(2n){
    flex-direction: row-reverse;
}
.content-item:nth-child(2n) .text-content{
    margin-right: 288px;
}
.content-item:nth-child(2n+1) .text-content{
    margin-left: 288px;
}