.background{
    background-image: url(/img/background.png);
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
    padding-bottom: 135px;
}
.header-div{
    display: flex;
    // gap:20px;
    justify-content: center;
}
.header-container{
    @media screen and (min-width:320px){
        display: flex;
        justify-content: space-between;
    }
}
.header-div_it{
    @include btn-styles($width:90px, $height:36px);
    border: none;
    display:block;    
    margin-top: 20px;
    margin-bottom: 110px;
    text-align: center;
&:hover{
    border: solid 2px $white-colour;
}
    background-color: inherit;
    color: $white-colour;
    // @media screen and (min-width:322px){

    // }
}
.logo{
    font-family: "Montserrat";
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    color: $white-colour;
}
